body {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;
  margin: 0px;
}

a {
  color: seashell;
}



/* Header */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
  background-color: black;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.header nav {
  padding-right: 10px;
}


/* Mission */

.mission {
  background-image: url(../images/img-mission-background.jpg);
  position: relative;
  height: 700px;
  width: 1200px;
  display: flex;
  margin: 70px auto 50px auto;
  align-items: center;
  
}

.mission1 {
  background-color: black;
  height: 140px;
  width: 1200px;
  opacity: 0.9;
  align-items: center;
}

/* Tea selection */

.selection {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  font-weight: bold;
  opacity: 0.9;
}

.selection img {
  height: 200px;
  width: 300px;
}
